<!-- Thanh tìm kiếm tùy chỉnh -->
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            pButton
                            pRipple
                            label="Add new dish"
                            icon="pi pi-plus"
                            (click)="viewDetails()"
                            class="p-button-success"
                        ></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table
                #dt
                [value]="listDishes"
                [paginator]="true"
                [rows]="10"
                [globalFilterFields]="['name', 'price', 'status']"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">List Dish</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter(dt, $event)"
                                placeholder="Search..."
                                class="w-full sm:w-auto"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th [width]="'30%'">Dish name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th class="text-end">Actions</th>
                        <!-- <th>Approved</th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                    <tr>
                        <td>{{ row.name }}</td>
                        <td>{{ getCategoryName(row.categoryId) }}</td>
                        <td>
                            {{ row.price | currency : "VND" }}
                        </td>
                        <td>
                            <p-tag
                                [value]="row.status"
                                [severity]="getSeverity(row.status)"
                            ></p-tag>
                        </td>
                        <td class="text-end">
                            <button
                                class="me-4"
                                pButton
                                type="button"
                                icon="pi pi-pencil"
                                (click)="viewDetails(row)"
                            ></button>
                            <button
                                pButton
                                class="p-button-outlined p-button-danger"
                                type="button"
                                icon="pi pi-trash"
                                (click)="deleteFood(row)"
                            ></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-sidebar
    [(visible)]="displaySidebar"
    [position]="'right'"
    [blockScroll]="true"
>
    <ng-template pTemplate="header">
        <p-button
            [label]="dish?.foodId ? 'Save' : 'Create'"
            [disabled]="addDish.invalid"
            (click)="saveEditedDish()"
        ></p-button>
    </ng-template>
    <div
        *ngIf="displaySidebar"
        class="position-relative h-100"
        [formGroup]="addDish"
    >
        <div
            *ngIf="isLoading"
            class="loading w-100 h-100 position-absolute d-flex d-flex justify-content-center align-items-center flex-column gap-2 bg-body rounded-3 z-100"
            style="z-index: 100"
        >
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <p style="opacity: 0.7">Loading</p>
        </div>
        <div class="avatar d-flex justify-content-center mt-4">
            <span
                class="m-4 my-2 rounded-1 d-flex justify-content-center align-items-center"
            >
                <label class="custom-file-upload">
                    <input
                        type="file"
                        accept="image/png, image/jpeg"
                        id="avatarInput"
                        (change)="selectedAvatar($event)"
                    />
                    <img
                        [src]="
                            dish?.image ||
                            'https://firebasestorage.googleapis.com/v0/b/advance-totem-350103.appspot.com/o/Avatar%2Fimage-holder-icon.png?alt=media&token=2bc0bac5-ea17-4dd9-8c9e-4813316da679'
                        "
                        alt=""
                        id="imgInput"
                        class="w-100"
                    />
                    <!-- <i class="pi pi-image" style="font-size: 2.5rem"></i> -->
                </label>
            </span>
        </div>
        <div class="row-type">
            <label for="dishName">Dish Name:</label>
            <input
                pInputText
                type="text"
                formControlName="name"
                id="dishName"
            />
        </div>
        <div class="row-type">
            <label for="category">Category:</label>
            <p-dropdown
                [options]="category"
                optionLabel="categoryName"
                optionValue="categoryId"
                formControlName="categoryId"
                id="category"
            >
                <ng-template pTemplate="footer">
                    <div
                        class="text-primary pb-2 d-flex justify-content-center"
                        (click)="($event.stopPropagation); op.toggle($event)"
                    >
                        <span><i class="pi pi-plus"></i> Add More</span>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="row-type">
            <label for="price">Price:</label>
            <p-inputNumber
                mode="currency"
                currency="VND"
                type="number"
                formControlName="price"
                id="price"
                [min]="0"
                [max]="9999999"
            >
            </p-inputNumber>
        </div>

        <div class="row-type">
            <label for="status">Status:</label>
            <!--
            <p-dropdown [options]="status" formControlName="status">
            </p-dropdown> -->
            <p-dropdown
                [options]="status"
                optionLabel="label"
                optionValue="value"
                formControlName="status"
            >
            </p-dropdown>
        </div>
        <div class="row-type">
            <label for="price">Recipe:</label>
            <textarea
                rows="5"
                cols="30"
                placeholder="Recipe ..."
                pInputTextarea
                formControlName="recipe"
            ></textarea>
        </div>
    </div>
</p-sidebar>

<p-overlayPanel #op appendTo="body">
    <div class="flex align-items-center gap-2">
        <input pInputText type="text" [(ngModel)]="newCate" />
        <p-button label="Add new Category" (click)="addNewCate()"></p-button>
    </div>
</p-overlayPanel>

<p-toast key="toast"></p-toast>
