<div class="page-container">
  <div class="list-table card p-4">
    <h4 class="mb-4">List Dish</h4>
    <p-table #dt1 [value]="listOrder" [paginator]="true" [rows]="10" [(selection)]="selectedOrder"
      [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-striped" dataKey="tableId"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="['name', 'capacity', 'status']">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-table>
        <tr>
          <td>
            <p-tableCheckbox [value]="table"></p-tableCheckbox>
          </td>
          <td>{{ table.tableId }}</td>
          <td>{{ table.name }}</td>
          <td>{{ table.capacity }}</td>
          <td>{{ table.status }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>