<!-- Thanh tìm kiếm tùy chỉnh -->
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            pButton
                            pRipple
                            label="Add new account"
                            icon="pi pi-plus"
                            (click)="viewDetails()"
                            class="p-button-success"
                        ></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table
                #dt
                [value]="listAccount"
                [paginator]="true"
                [rows]="10"
                [globalFilterFields]="['name', 'price', 'email', 'phoneNumber']"
                [rowHover]="true"
                dataKey="serving.servingId "
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">List Staff</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter(dt, $event)"
                                placeholder="Search..."
                                class="w-full sm:w-auto"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th [width]="'20%'">Name</th>
                        <th [width]="'20%'">Email</th>
                        <th>Role</th>
                        <!-- <th>Date of Birth</th> -->
                        <th>Phone</th>
                        <th>Gender</th>
                        <th>Status</th>
                        <th></th>

                        <!-- <th>Approved</th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                    <tr>
                        <td>{{ row.name }}</td>
                        <td>{{ row.email }}</td>
                        <td>
                            {{ row.role }}
                        </td>
                        <!-- <td>{{ row.dateOfBirth | date : "dd/MM/yyyy" }}</td> -->
                        <td>{{ row.phoneNumber }}</td>
                        <td>{{ row.gender ? "Male" : "Female" }}</td>
                        <td>
                            <p-tag
                                [value]="row.isBlock ? 'Blocked' : 'Active'"
                                [severity]="row.isBlock ? 'error' : 'success'"
                            ></p-tag>
                        </td>
                        <td class="text-end">
                            <button
                                class="me-4"
                                pButton
                                type="button"
                                icon="pi pi-pencil"
                                (click)="viewDetails(row)"
                            ></button>
                            <button
                                [disabled]="row.isBlock"
                                pButton
                                type="button"
                                class="p-button-outlined p-button-danger"
                                [icon]="'pi pi-trash'"
                                (click)="deleteAccount(row)"
                            ></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-sidebar
    [(visible)]="displaySidebar"
    [position]="'right'"
    [blockScroll]="true"
>
    <ng-template pTemplate="header">
        <p-button
            [label]="account?.accountId ? 'Save' : 'Create'"
            [disabled]="
                addAccount.invalid ||
                (!addAccount.value.password && account && !account?.accountId)
            "
            (onClick)="saveEditedAccount()"
        ></p-button>
    </ng-template>
    <div
        *ngIf="displaySidebar"
        class="position-relative h-75"
        [formGroup]="addAccount"
    >
        <div
            *ngIf="isLoading"
            class="loading w-100 h-100 position-absolute d-flex d-flex justify-content-center align-items-center flex-column gap-2 bg-body rounded-3 z-3"
        >
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <p style="opacity: 0.7">Loading</p>
        </div>
        <div class="avatar d-flex justify-content-center mt-4">
            <span
                class="m-4 my-2 rounded-1 d-flex justify-content-center align-items-center"
            >
                <label class="custom-file-upload">
                    <input
                        type="file"
                        accept="image/png, image/jpeg"
                        id="avatarInput"
                        (change)="selectedAvatar($event)"
                    />
                    <img
                        [src]="
                            account?.avatar ||
                            'https://res.cloudinary.com/dwskvqnkc/image/upload/v1698909675/menu_minder_store/img_default_elml1l.jpg'
                        "
                        alt=""
                        id="imgInput"
                        class="w-100"
                    />
                    <!-- <i class="pi pi-image" style="font-size: 2.5rem"></i> -->
                </label>
            </span>
        </div>
        <div class="row-type">
            <label for="name">Name:</label>
            <input pInputText type="text" formControlName="name" id="name" />
        </div>

        <div class="row-type">
            <label for="email">Email:</label>
            <input pInputText type="email" formControlName="email" id="email" />
        </div>

        <div class="row-type" *ngIf="!account?.accountId">
            <label for="password">Password:</label>
            <p-password
                formControlName="password"
                id="password"
                [toggleMask]="true"
            ></p-password>
        </div>
        <div class="row-type">
            <label for="gender">Gender:</label>
            <p-dropdown
                [options]="gender"
                optionLabel="name"
                optionValue="id"
                formControlName="gender"
                id="gender"
            >
            </p-dropdown>
        </div>
        <div class="row-type">
            <label for="phone">Phone:</label>
            <input
                pInputText
                type="text"
                formControlName="phoneNumber"
                id="phone"
            />
        </div>
        <!-- <div class="row-type">
            <label for="dob">Date of Birth:</label>
            <p-calendar
                [showIcon]="true"
                inputId="icon"
                id="dob"
                formControlName="dateOfBirth"
            ></p-calendar>
        </div> -->
        <div class="row-type">
            <label for="role">Permission:</label>

            <p-multiSelect
                styleClass="flex-center"
                [options]="role"
                optionLabel="permissionName"
                optionValue="permissionId"
                formControlName="permissionIds"
                id="role"
            >
            </p-multiSelect>
        </div>
    </div>
</p-sidebar>

<p-toast key="toast"></p-toast>
